.container {
  display: grid;
}

.body {
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logonav {
  background: url("../images/logo.png") no-repeat;
  width: 105px;
  height: 28px;
  margin-top: 4vh;
  margin-bottom: 35px;
  padding-left: 30px;
  padding-right: 40px;
}

.logo-2 {
  background: url("../images/Logo2.png") no-repeat;
  width: 32px;
  height: 32px;
  margin-top: 80px;
}

.gplay {
  background: url("../images/gplay.png") no-repeat;
  width: 135px;
  height: 40px;
  margin-top: 16.87px;
  margin-right: 15px;
}

.astore {
  background: url("../images/aplstore.png") no-repeat;
  width: 135px;
  height: 40px;
  margin-right: 5vh;
  margin-top: 16.87px;
}

.gplay-2 {
  background: url("../images/gplay.png") no-repeat;
  width: 135px;
  height: 40px;
}

.astore-2 {
  background: url("../images/aplstore.png") no-repeat;
  width: 135px;
  height: 40px;
}

.gplay3 {
  background: url("../images/gplay-2.png") no-repeat;
  width: 135px;
  height: 40px;
  margin-top: 16.87px;
  margin-right: 1vh;
  margin-left: 16vh;
}

.astore3 {
  background: url("../images/aplstore-2.png") no-repeat;
  width: 135px;
  height: 40px;
  margin-right: 5vh;
  margin-top: 16.87px;
}

.gplay-4 {
  background: url("../images/gplay-2.png") no-repeat;
  display: flex;
  width: 135px;
  text-align: right;
  height: 40px;
  margin-top: 20px;
  margin-left: 140px;
}

.astore-4 {
  background: url("../images/aplstore-2.png") no-repeat;
  width: 135px;
  height: 40px;
  display: flex;
  margin-top: 20px;
  margin-left: 140px;
}

.text-h1 {
  margin-top: 240px;
  margin-right: 545px;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  height: 196px;
  width: 730px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
}

.text-h2 {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  margin-top: 120px;
  text-align: center;
}

.text-h2b {
  margin-left: 155px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  margin-top: 120px;
}

.text-h2c {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 165px;
  margin-top: 82px;
}

.text-h2d {
  height: 128px;
  width: 540px;
  margin-top: 68px;

  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.text-h3a {
  margin-top: 140px;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  width: 444px;
  height: 54px;
  left: 48px;
  top: 0px;
  color: #18191f;
}

.text-h3b {
  margin-top: 138px;
  margin-left: 165px;
  height: 108px;
  width: 300px;
  left: 0px;
  top: 10px;
}

.img-z1 {
  margin-left: 80px;
  margin-top: -510px;
}

.img-z2 {
  margin-left: 100px;
  margin-top: 77px;
  z-index: 1;
}

.m-img3 {
  background: url("../images/mobilex1.png") no-repeat;
  z-index: 2;
  width: 279.07px;
  height: 604.28px;
  position: relative;
  margin-top: 174px;
}

.mobile-img {
  width: 320px;
  height: 640px;
  background-image: url("../images/iPhoneX.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -18px;
  top: -19px;
  z-index: 1;
}

.m-img-4 {
  background: url("../images/mobilex3.png") no-repeat;
  z-index: 2;
  width: 279.07px;
  height: 359px;
  position: relative;
}

.mobile-img-2 {
  width: 320px;
  height: 373px;
  background-image: url("../images/iPhoneX3.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -26px;
  z-index: 1;
}

.m-img-5 {
  background: url("../images/mobilex4.png") no-repeat;
  z-index: 2;
  width: 279.07px;
  height: 396px;
  position: relative;
  margin-top: 102px;
}

.mobile-img-3 {
  width: 320px;
  height: 405px;
  background-image: url("../images/iPhoneX4.png");
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -14px;
  margin-top: -14px;
  z-index: 1;
}

.background02 {
  /* background: url("../images/real.png") no-repeat;*/
  background: #d5fafc;
  /*width: 1440px;*/
  height: 896px;
  left: 0px;
  top: 1680px;
}

.text-p1 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 49.33px;
}

.text-p2 {
  margin-left: 155px;
}

.text-p3 {
  margin-left: 165px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.text-p4 {
  width: 444px;
  height: 160px;
  left: 48px;
  top: 86px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.text-p5 {
  color: #8c30f5;
}

.text-p6 {
  height: 128px;
  width: 540px;
  left: 570px;
  margin-top: 138px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 90px;
}

.text-p7 {
  height: 96px;
  width: 540px;
  top: 136px;
  border-radius: nullpx;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.text-p8 {
  padding-top: 35px;
  margin-left: 165px;
}

.text-p8a {
  margin-top: 112px;
  margin-left: 189px;
}

.text-p9 {
  margin-top: 35px !important;
}

.text-p10 {
}

.text-p11 {
  margin-top: 70px;
  text-align: center;
}

.text-p-icon-1 {
  width: 15 5px;
  margin-left: 60px;
}

.text-p-icon-2 {
  width: 50px;
  margin-left: 60px;
}

.text-p-icon-3 {
  text-align: right;
  width: 50px;
  margin-left: 60px;
}

.text-p-icon-4 {
  height: 30px;
  width: 425px;
  margin-left: 60px;
}

.text-p-tailor {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.align-content {
  text-align: center;
  margin-bottom: 64px;
}

.align-content2 {
  text-align: center;
  margin-bottom: 64px;
}

.logo-01 {
  margin-top: 117px;
  background: url("../images/airbnb.png") no-repeat;
  height: 45px;
  width: 130px;
}

.logo-01b {
  background: url("../images/airbnb.png") no-repeat;
  height: 45px;
  width: 130px;
}

.logo-02 {
  margin-top: 117px;
  background: url("../images/Hubspot.png") no-repeat;
  height: 45px;
  width: 125px;
}

.logo-02b {
  background: url("../images/Hubspot.png") no-repeat;
  height: 45px;
  width: 125px;
}

.logo-03 {
  margin-top: 117px;
  background: url("../images/google.png") no-repeat;
  height: 45px;
  width: 125px;
}

.logo-04 {
  margin-top: 117px;
  background: url("../images/microsoft.png") no-repeat;
  height: 45px;
  width: 145px;
}

.logo-05 {
  margin-top: 117px;
  background: url("../images/walmart.png") no-repeat;
  height: 45px;
  width: 125px;
}

.logo-06 {
  margin-top: 117px;
  background: url("../images/fedex.png") no-repeat;
  height: 45px;
  width: 125px;
}

.logo-book {
  background: url("../images/bookmyshow.png") no-repeat;
  height: 45px;
  width: 225px;
}

.button1 {
  height: 48px;
  width: 154px;
  border-radius: 6px;
  background-color: #8c30f5;
  color: white;
  text-align: center;
}

.o-card1 {
  height: 340px;
  width: 445px;
  padding: 32px;
  margin-top: 168px;
}

.o-card2 {
  height: 468px;
  width: 350px;
  padding: 32px;
  margin-left: 285px;
}

.o-card3 {
  height: 276px;
  width: 350px;
  padding: 32px;
  margin-top: 20px;
}

.h4-archiev-2 {
  display: flex;
  margin-top: 110px;
}

.h4-archiev-3 {
  display: flex;
  margin-top: 110px;
  width: 200px;
}

.h4-archiev-4 {
  display: flex;
  width: 110px;
}

.h4-archiev-5 {
  display: flex;
  width: 110px;
}

.bg3 {
  background-image: url("..//images/BG2.png");
  background-repeat: no-repeat;
  width: 540px;
  height: 540px;
  border-radius: 8px;
  margin-left: 95px;
}

.bg-fin {
  background: url("../images/CoverImage.png") no-repeat;
  height: 400px;
  width: 1110px;
  margin-left: 100px;
  top: 240px;
  border-radius: 8px;
  margin-bottom: 64px;
}

.bg-fin2 {
  position: relative;
  height: 491px;
  border-radius: 0px;
  background: #2ec5ce;
}

.footer-end {
  height: 280px;
  border-radius: 0px;
  background: #0b0d17;
  color: white;
  display: flex;
  flex-direction: row;
}

.footer-2 {
  margin-top: 15px;
  height: auto;
  width: auto;
  text-align: center;
}
.headline-div {
  margin-left: 25px;
}
.footer-1 {
  text-align: left;
}

.ic {
  margin-bottom: 25.33px;
  width: 32px;
  height: 32px;
}

.ic-2 {
  background: url("../icons/robust.png") no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 60px;
}

.ic-3 {
  background: url("../icons/multiple.png") no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 60px;
}

.ic-4 {
  background: url("../icons/better.png") no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 60px;
}

.ic-5 {
  background: url("../icons/140.png") no-repeat;
  width: 32px;
  height: 40px;
  padding-right: 60px;
}

/* Media Querys*/
